<div class="grid gap-2 grid-cols-1 lg:grid-cols-2">
	<div class="flex justify-between bg-white shadow-lg p-4" >
        <P class="font-bold">
            <%= link_to 'Cours Explicatif', new_course_path %>
        </P>
    </div>
	<div class=" flex justify-between bg-white shadow-lg p-4" >
        <P class="font-bold">
            <%= link_to 'Cours Pratique', root_path %>
        </P>
    </div>
</div>