<div class="card">
  <div class="card-header capitalize">
  <i class="fa fa-home"></i>
    <span class="font-bold">
      <%= current_user.school_name %>
    </span>
  </div>
  <ul class="list-group list-group-flush text-sm">
    <li class="list-group-item">
      <div class="row">
        <div class="col-2">
          <span class="flex h-3 w-3">
            <span class="relative inline-flex rounded-full h-3 w-3 bg-red-500 animate-ping"></span>
          </span>
        </div>
        <div class="col-10">
          <span class="font-semibold">Mes Ressources</span>
        </div>
      </div>
    </li>
    <li class="list-group-item">Oral Anglais</li>
    <li class="list-group-item">Oral Français</li>
    <li class="list-group-item">Philo Sujets </li>
    <li class="list-group-item">Philo Citations</li>
    <li class="list-group-item">Resumé Formule Chimie</li>
    <li class="list-group-item">Resumé Formule Math</li>
    <li class="list-group-item">Resumé SVT</li>

  </ul>
</div>
