<div class="card h-18">
  <div class="flex my-1 ml-2">
    <!-- avatar 32X32/!-->
    <img src="https://bulma.io/images/placeholders/32x32.png" class=" flex w-6 h-6 rounded-full mr-2">
    <!--Name author course/!-->
    <span class="font-bold text-gray-900 leading-none capitalize ">
      <%= current_user.full_name %>
    </span>
  </div>
<span class="flex h-3 w-3">
  
</span>

  <!-- Flash infos section-->
</div>


