<div class="card h-18">
  <div class="flex my-1 md:ml-2 sm:ml-0">
    <!-- avatar 32X32/!-->
    <%= image_tag('ln-icon.png', size: "25x25", :alt => "avatar feed", class:"sm:m-0 md:mr-2") %>
    <!--Name author course/!-->
    <span class="font-bold text-gray-900 leading-none capitalize ">
      <%= current_user.full_name %>
    </span>
  </div>
<span class="flex h-3 w-3">
  
</span>

  <!-- Flash infos section-->
</div>


