
<!-- boucle for matiere items/!-->
<div class="container-fluid">
  <!-- Icon/!-->
  <div class="h-8 bg-red-200 rounded-md">
    <div class="row">
      <div class="col-2">
        <p class="ml-1">
          <span class="relative inline-flex  h-5 w-3 bg-white animate"></span>
        </p>
      </div>
      <div class="col-8">
        <p class="font-semi-bold">Fil Matières </p>
      </div>
    </div>  
  </div>
  <div class="sm:flex sm:space-x-4">
    <ul class="leading-relaxed pt-2">
      <% @materials.each do |m| %>
      <li class="text-lg font-bold">
        <%= link_to m.title, m , class: "hover:no-underline hover:text-black text-black no-underline" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
