
<!-- User Card for show course-->
<div class="flex items-center">
     <img class="w-10 h-10 bg-gray-200 rounded-full mr-2">
	<div class="text-sm mt-2">
		<p class="font-bold text-black leading-none capitalize -mt-2"> 
			<%= @course.author %>
	    </p>
		<p class="text-grey-dark -mt-1">
			Prof - <%= @course.material.title %>
		</p>
	</div>
</div>