

<!--Home page feed-->
<div class="container mx-auto mt-24 md:mt-18">
    <div class="row">
        <div class="col-12 col-md-2 offset-md-1 col-lg-2">
            <%= render "shared/courses/sidebar" %>
        </div>

        <div class="col-12 col-md-6 col-lg-6">
            <!-- feed main/!-->
            <%= render "shared/courses/feed" %>
        </div>
        <div class="col-12 col-md-2 col-lg-2">
            <%= render "shared/courses/better" %>
        </div>
    </div>
</div>
