<div class="container-fluid">
  <div class="row ">
  <!-- navbar course-->
  
  <div class="col-12 col-md-7 col-lg-7 mx-auto">

    <h2 class="text-center mb-4 font-bold text-3xl mt-24 uppercase">Nouveau Contenu :</h2>
      <div class="mx-auto">
        <%= render 'form', course: @course %>
      </div>
    </div>
  </div>
</div>