<% content_for @title = @course.title %>

<div class="container-sm pt-24">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6">

      
      <div class="card">
        <!-- title!-->
        <h1 class="text-xl leading-tight font-bold mt-2 mx-2">
          <%= @course.title %>
        </h1>

         <!-- avatar data/!-->
        <div class="flex items-cente mt-4 ml-6">
         
          <!-- Course meta data-->
          <%= render "courses/shared/user_card_course" %>
        </div>

        <!--content/!-->
        <div class="m-2">
          <p class="mx-2" id="read_more">
            <%= @course.content.to_s.html_safe %>
          </p>
          <hr>
          <!-- Options-->
          <%= render "courses/shared/options" %>
        </div>
      </div>
    </div>
    <!-- Exercices-->
    <div class="col-12 col-md-6 col-lg-6">
            
    </div>
  </div>
</div>

