<%= form_with(model:[@course, @course.posts.build], remote:true) do |f| %>
  
  <div class="field">
    <%= f.rich_text_area :content %>
  </div>

  <div class="actions my-2">
    <%= f.submit "Post", class:"inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition bg-blue-700 rounded shadow ripple hover:shadow-lg hover:bg-blue-800 focus:outline-none" %>
  </div>
<% end %>
