<!-- component -->
<div class="bg-gray-50 dark:bg-black p-2 flex items-center justify-center">
  <div class="bg-white dark:bg-gray-800 p-2 border-gray-200 dark:border-gray-800 rounded-xl border max-w-xl">
    <div class="flex justify-between">
      <div class="flex items-center">
        <img class="h-11 w-11 rounded-full" src="https://pbs.twimg.com/profile_images/1287562748562309122/4RLk5A_U_x96.jpg"/>
        <div class="ml-1.5 text-sm leading-tight">
          <span class="text-black dark:text-white font-bold block "><%= post.user.full_name %></span>
          <span class="text-gray-500 dark:text-gray-400 font-normal block">@MissionBac</span>
        </div>
      </div>
     
    </div>
    	
				<div class="container mb-2">
					<!-- course content-->
					<%= @course.content.to_s.html_safe %>
				</div>
    
    <div class="border-gray-200 dark:border-gray-600 border border-b-0 my-1"></div>
<%= render "/messages/features" %>

  </div>
</div>