<% content_for @title= @material.title %>

<div class="container-fluid md:mt-20">
<!-- material title/!-->
  <div class="container">
    <h1 class="text-center font-semibold">
      Special <%= @material.title %>
    </h1>
  </div>
  <hr />
    
</div>


